main {
    width: 80%;
    margin: 0 auto;
    height: 1000px;
}

#streamerOne{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
#streamerLeft,#streamerRight{
    width: 600px;
    height: auto;
    border: solid 1px grey;

    padding-top: 50px;
}
#streamerLeft>div{
    padding-top: 30px;
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
}
#streamerLeft>div div{
    width: auto;
    height: 20px;
    margin: 10px 10px 10px 10px;
    font-size: small;
}
#streamerLeft>div div:hover{
    color: rgb(231, 36, 67);
    cursor: pointer;
}
#streamerRight>div{
    padding-top: 20px;
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
}
#streamerRight>div div{
    width: 120px;
    height: 20px;
    margin: 10px 10px 10px 10px;
    font-size: small;
    
}
#streamerRight>div div:hover{
    color: rgb(231, 36, 67);
    cursor: pointer;
}
#streamer h2 {
    margin: 0;
}
#streamer em{
    color: orange;
}
#streamer img {
    display: block;
    margin: 0 auto;
}